@model OdeToFood.Web.Models.GreetingViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <p>
        Hello, this is my first View!
        @Model.Message !
        <br />
        @Model.Name
    </p>
</div>


